.card{
  border: 1px solid rgba(73, 73, 73, 0.164);
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
  padding:20px;
  margin:20px;
  text-align: center;
  max-width: 900px;
  width: 190px;
 
  display: block;
  


}
.card .image {
  width: 130px; 
  height: 140px;
  object-fit: cover;      
  border-radius: 50%;  
  display: block;
  margin: 0 auto 10px auto;
}
.card.name{
  font-family: Arial, Helvetica, sans-serif;
  margin:auto;
  color: hsl(0, 0%, 20%);
  font-weight: bold;

}
.card.text{
  font-family: Arial, Helvetica, sans-serif;
   color: hsl(0, 0%, 70%);
   margin-top: 5px;


}
.detail{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
  margin:20px;
}
.detail p{
  margin:5px;
}
.Welcomeprompt{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(4, 197, 36);
  color:white;
  padding:10px;
  margin:20px;
  border:2px;
  border-radius: 5px;
  
}
.Loginprompt{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(250, 8, 8);
  color:white;
  padding:10px;
  margin:20px;
  border:2px;
  border-radius: 5px;
}

.heading{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(56, 7, 112);
  border: 3px solid;
  padding: 5px;
  border-radius: 10px;
  background-color: bisque;
 

}
.items li{
  font-family: Arial, Helvetica, sans-serif;
  margin:0px;
  list-style: none;
  color: hsl(0 0% 25%);

}
.items li:hover{
  color:hsl(0 0% 45%);
  cursor:pointer;
}
.container{
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
}
.Counter{
  font-size: 10em;
  margin-top:0;
  margin-bottom:50px;
}
.button{
  width:200px;
  height: 50px;
  font-weight: bold;
  font-size: 1.5em;
  margin:0px 5px;
  background-color: hsl(197, 100%, 58%);
  color:white;
  border:none;
  border-radius: 5px;
  cursor: pointer;

}
.button:hover{
  background-color: hsl(197, 100%, 38%);

}
.Onchange input:focus,
.Onchange textarea:focus,
.Onchange select:focus {
  outline: none;
  border: 2px solid #acaaaa;
  box-shadow: none;
}

.colorcontainer{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

}
h1{
  margin: 50px;
  font-size: 3rem;
}
.colordisplay{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0 0% 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  
}
.colordisplay p{
  font-size: 2em;
  color:hsl(0 0% 20%);
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"]{
  transform: scale(2);
  transform-origin: left; 
  border: none;
  background: none;
  padding: 0;
  margin-left:3px;

}